// Tweak with some nots to avoid conflicting with gists styles

table:not(.lines) {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
}

td:not(.line-numbers,.line-data) {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td:not(.line-numbers,.line-data),
th {
  vertical-align: middle;
}
